<footer class="text-muted small bg-dark py-4 footer-height" id="footer">
<div class="container">
    <div class="row">
        <div class="col">
          <span "">&nbsp;&copy;2018 <a href="./" class="text-muted">Apkme Team</a>.&nbsp;All Rights Reserved.&nbsp;<a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank" class="text-muted" rel="nofollow">蜀ICP备15028976号-1</a> | Processed:<?php echo substr(microtime(1) - $starttime, 0, 5);?>,SQL:<?php echo count($db->sqls);?>&nbsp;|&nbsp;Based on <a href="https://www.noteweb.top" target="_blank" class="text-muted" rel="nofollow">NOTEWEB</a>.
          </span>
      </div>
  </div>
  </div>
</footer>